<article>
    <div class="title">
        <h2>完成！</h2>
    </div>
    <img src="<%="/finals/#{@user.final_img}"%>" alt="final">
    <!--<p style="font-size:30px; line-height:60px;">／め、めっちゃうま〜！＼<br>
    <strong><%=@user.name%></strong>は、<br>
    いっぱい<%= @food.name %>をほおばっています。</p>-->
    <p style="font-size:30px; line-height:60px;">／やっほ〜！＼<br>
    <strong><%=@user.name%></strong>は、<br>
    <%= @food.name %>になっています</p>
    <br>
    <br>
    <div class="twitter">
        <a href="<%= "https://twitter.com/share?url=https://summer-third-seminer-ayanooooon.c9users.io/users/#{@user.id}/share"%>" target="_blank" class="square_btn " data-show-count="false" style='font-size:30px; '><strong>Twitter投稿へ</strong></a><br>
        <br>
        <!--<a href="/">また食べる</a>-->
        <a href='/'>またモグピタする</a>
    </div>
</article>
