<article>
  <br>
  <ul id="menu">
    <li><%=link_to("フード追加","/foods/new")%></li>
    <li><%=link_to("フード一覧","/foods/index")%></li>
    <li><%=link_to("オプ追加","/options/new")%></li>
    <li><%=link_to("オプ一覧","/options")%></li>
  </ul>
  <br>
  <h2 style="font-size: 50px;">オプションDB一覧</h2>
  <p><%=link_to("【追加】","/options/new") %></p>
  <br>
  <table>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>個数</th>
      <th>編集</th>
    </tr>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.id %></td>
        <td><%= option.name %></td>
        <td><%= @foods.where(op_id: option.id).count %></td>
        <td><%=link_to("【削除】", "/options/#{option.id}/destroy", method: :post, data: { confirm: "このオプションに所属しているfoodsの画像も削除されます。\nよろしいですか?" }) %></td>
      </tr>
    <% end %>
  </table>
</article>