<article>
  <br>
  <ul id="menu">
    <li><%=link_to("フード追加","/foods/new")%></li>
    <li><%=link_to("フード一覧","/foods/index")%></li>
    <li><%=link_to("オプ追加","/options/new")%></li>
    <li><%=link_to("オプ一覧","/options")%></li>
  </ul>
  <br>
  <h2 style="font-size: 50px;">オプションDBに追加</h2>
  <div class="form">
    <%= form_tag("/options/create") do %>
      名前：<input name="name" type="text"><br><br><br>
      <input type="submit" value="送信">
    <% end %>
  </div>
</article>