<article>
  <div class="title">
    <h2>foodDB一覧</h2>
  </div>
<p><%=link_to("【追加】","/foods/new") %></p>
<br>
<br>
  
  <table border="1">
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>写真</th>
      <th>オプション</th>
      <th>ｘ座標</th>
      <th>ｙ座標</th>
      <th>横幅</th>
      <th>高さ</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.id %></td>
        <td><%= food.name %></td>
        <td><%= food.image %></td>
        <td><%= food.op_id %></td>
        <td><%= food.x %></td>
        <td><%= food.y %></td>
        <td><%= food.width %></td>
        <td><%= food.height %></td>
      </tr>
    <% end %>
  </table>
</article>

