<article>
  <h2 style="font-size: 50px;">フードDB一覧</h2>
  <p><%=link_to("【追加】","/foods/new") %></p>
  <br>
  <table>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>写真</th>
      <th>オプション</th>
      <th>ｘ座標</th>
      <th>ｙ座標</th>
      <th>横幅</th>
      <th>高さ</th>
      <th>編集</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.id %></td>
        <td><%= food.name %></td>
        <td><img src="<%="/foods/#{food.op_id}/#{food.id}.jpg"%>" alt="food" width="40px"></td>
        <td><%= food.op_id %></td>
        <td><%= food.x %></td>
        <td><%= food.y %></td>
        <td><%= food.width %></td>
        <td><%= food.height %></td>
        <td><%=link_to("【削除】", "/foods/#{food.id}/destroy", method: :post, data: { confirm: "You sure?" }) %></td>
      </tr>
    <% end %>
  </table>
</article>

